<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ page_title }}</title>
  {{ 'styles.css' | asset_url | stylesheet_tag }}
  {{ content_for_header }}
</head>
<body>
  {{ content_for_layout }}
  {% if template.name == 'index' %}
    <script src="{{ 'app.js' | asset_url }}" defer></script>
  {% endif %}
</body>
</html>
